.background-image {
    position: fixed;
    left: -10;
    right: 10;
    top: -10;
    bottom: -10;
    z-index: 0;
    display: block;
    background-image: url('../img/map-bg.jpg');
    width: 110%;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.btn {
 border-radius: 0px !important;
    font-size: 12px !important;
}

.toggle-buttons{
width: 300px;
margin-left: auto;
margin-right: auto;
z-index: 999;
margin-top: 10px;
display: block;
}
.burden-calculator {
    width: 75%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    margin-top:50px;
}
.map-calc-btn{
 width: 150px;   
}

h1#burden-response {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  color: #fff;
  font-weight: normal;
    height: 200px;
    position: relative;
    top: 50px;
}

#burden {
    width: 100%;
}

.form-input {
    margin-top: 10px;
    font-weight: 100;
}

.full {
/*    width: 100%;*/
    width: 600px;
}



#submit_button {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
}

.big {
    height: 60px;
    font-size: 2em;
    font-weight: 100;
}

#calculator-title {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: #fff;
    text-align: center;
}

input {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .6);
    background: #fff;
    font-size: 1.3em;
    height: 35px;
    display: inline;
}

input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .5);
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    height: 50px;
}

input::-moz-placeholder {
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

input:-moz-placeholder {
    /* Older versions of Firefox */
    
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

input:-ms-input-placeholder {
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

.form-control {
    border-radius: 0;
}

select {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .6);
    background: #fff;
    font-size: 1.3em;
    height: 50px;
    display: inline;
    border-radius: 0px;
}

select::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .5);
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    height: 50px;
    border-radius: 0px;
}

select::-moz-placeholder {
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

select:-moz-placeholder {
    /* Older versions of Firefox */
    
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

select:-ms-input-placeholder {
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

#layers {
    position: relative;
    top: 60px;
    left: 35px;
    font-size: 12px;
    width: 300px;
    text-align: center;
    z-index: 1000;
    padding-bottom: 10px;
}


/*/////////////////////////
redesigned input fields
//////////////////////////*/
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
.container 		{ 
  font-family:'Lato';
  width:100%; 
  margin:30px auto 0; 
  display:block; 
/*  padding:10px 50px 50px;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#1696d2; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:25px; 
    float:left;
    width:100%;
}
.left{
 margin-right: 20px;   
}
.half {
/*
    width: 47%;
    width: -webkit-calc(50% - 2px);
    width: calc(50% - 2px);
*/
    width: 290px;
}
input 				{
  font-size:18px;
/*  padding:10px 10px 10px 5px;*/
  display:block;
  width:290px;
  border:none;
  border-bottom:1px solid #fff;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#1696d2; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#fff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; 
/*    width:300px; */
}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#1696d2; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#1696d2; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#1696d2; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#1696d2; }
  to 	{ width:0; background:transparent; }
}